html {
  background-color: #82B5C8;
}

.type-illustration {
  z-index: 2000;
}

.social-bg {
  text-align: center;
  z-index: 1000;
}

.logo {
  width: 15%;
}

p {
  font-family: 'Open Sans', sans-serif;
  max-width: 21em;
}
